pandas==2.1.4
scikit-learn==1.2.2
xgboost==2.0.3
joblib==1.2.0
imbalanced-learn==0.12.2
numpy==1.24.4
fastapi==0.111.1
streamlit==1.37.0
uvicorn==0.30.3
matplotlib==3.7.1
seaborn==0.12.2
requests==2.31.0

